/* Importar fuentes */

/* @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
} */


@font-face {
    font-family: 'personalizada';
    src: url('media/blackjack.otf') format('opentype');
}


* {
    font-family: 'personalizada', sans-serif;
}


/* Media query, se debe tener en cuenta el orden,  */
 


@media  screen and (max-width: 500px) and (orientation: landscape){
    h1 {
        color: blue;
    }
}
@media  screen and (max-width: 300px) {
    h1 {
        color: red;
    }
} 